{% extends 'dashboard/sidebar_base.html' %}
{% block conteudo %}
{% load static %}

<ul>
    <li><a href="{% url 'index' %}">Home</a></li>

    <li><a href="{% url 'temperatura' %}">Temperatura</a></li>
    <li><a href="{% url 'precipitacao' %}">Precipitação Pluvial</a></li>
    <li><a href="{% url 'queimada' %}">Focos de Fogo</a></li>
    <li><a href="{% url 'alagamento' %}">Alagamento</a></li>
    <li><a href="{% url 'reservatorio' %}">Reservatórios</a></li>
    <li><a href="{% url 'glossario' %}">Glossário</a></li>

    <li><a href="{% url 'projetos' %}">Projetos</a></li>
    <li><a href="{% url 'publicacoes' %}">Publicações</a></li>
    <li><a href="{% url 'noticias' %}">Notícas</a></li>
</ul>

{% endblock %}