<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		{% include 'dashboard/head.html' %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<span id="topo"></span>
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
    						{% include 'app/app_header.html' %}

							<!-- Conteudo -->
							{% block conteudo %}
							{% endblock %}

						</div>
					</div>

				<!-- Sidebar -->
                {% include 'app/app_sidebar.html' %}

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>