{% extends 'app/app_base.html' %}
{% block conteudo %}
{% load static %}

{% for dado in dados %}

    <section id="banner">

        <div class="content" style="text-align: justify">
            <br><br>
            <header>
                <h3><strong>{{ dado.titulo }}</strong></h3>
            </header>
            <blockquote>
                <p>{{ dado.conteudo|safe }}</p>
            </blockquote>
            <p><strong>Publicação</strong>: {{ dado.data }}</p>
        </div>

        <span class="image object">
            <p>{{ dado.imagem|safe }}</p>
        </span>

    </section>

{% endfor %}


{% endblock %}