{% load static %}
<header id="header">
    <span>
        <a href="#" target="_blank">
            <img src="{% static 'images/unb3.jpg' %}" alt="" width="400" height="50">
        </a>
    </span>
    <ul class="icons">
        <li>
            <a href="{% url 'index' %}" class="logo">
                <strong>LCGea</strong>
            </a>&nbsp;&nbsp;
        </li>
        <li>
            <a href="https://www.facebook.com/LCGea/" target="_blank" class="icon brands fa-facebook-f"
               style="color: #00008B"><span class="label">
                Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/lcgea_unb" target="_blank" class="icon brands fa-instagram"
                style="color: #00008B"><span class="label">
                Instagram</span>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" class="icon brands fa-linkedin"
               style="color: #00008B"><span class="label">
                Linkedin</span>
            </a>
        </li>
    </ul>

</header>
