{% load static %}

<section id="banner">

    <div class="content">
        <header>
            <h3>Bem vindo ao <strong>Observatório</strong><br>
                <strong> do Clima do DF!</strong></h3>
                <br>
<!--            <p>Universidade de Brasília</p>-->
        </header>
        <p style="text-align: justify">O Laboratório de Climatologia Geográfica - LCGea - da Universidade de Brasília
            foi criado ainda nos anos de 1990 sob a coordenação da Profa. Ercília Torres Steinke. Localizado no Módulo
            23 do Subsolo do ICC Norte (campus Darcy Ribeiro), o laboratório reúne pesquisadores da Graduação e
            Pós-graduação em Geografia e auxilia o desenvolvimento de suas pesquisas. Dentre as linhas de pesquisa
            desenvolvidas no laboratório estão: "Clima e Ensino", "Clima e Saúde", "Riscos Climáticos Urbanos".
            Além disso, mensalmente divulga o Boletim LCGea, uma publicação que apresenta um panorama mensal sobre
            o clima de Brasília, bem como os principais destaques meteorológicos do mês. Atualmente o LCGea é
            coordenado pelo Prof. Rafael Rodrigues da Franca.</p>
        <br>
        <ul class="actions">
            <li><a href="#" class="button primary small">Mais Informações</a></li>
        </ul>
    </div>
    <span class="image object">
        {% include 'dashboard/section_carousel_banner.html' %}
    </span>

</section>