{% load static %}

  <link type="text/css" rel="stylesheet" href="./static/css/slider.css">

  <section class="carousel">
    <input type="radio" name="carousel" id="carousel1" checked="checked" />
    <input type="radio" name="carousel" id="carousel2" />
    <input type="radio" name="carousel" id="carousel3" />
<!--    <input type="radio" name="carousel" id="carousel4" />-->

    <main class="carousel__stage">
      <aside class="carousel__item">
        <a href="#"><h3>Boletim LCGea</h3></a>
        <img class="carousel__image" src="{% static 'images/logo_lcgea.jpg' %}" alt="logo_lcgea.jpg" />
        <label for="carousel2" class="carousel__next"></label>
      </aside>

      <aside class="carousel__item">
        <label for="carousel1" class="carousel__prev"></label>
        <a href="#"><h3>Publicações</h3></a>
        <img class="carousel__image" src="{% static 'images/queimadas.jpeg' %}" alt="" />
        <label for="carousel3" class="carousel__next"></label>
      </aside>

      <aside class="carousel__item">
        <label for="carousel2" class="carousel__prev"></label>
        <a href="#"><h3>Atlas Pluviosidade do DF</h3></a>
        <img class="carousel__image" src="{% static 'images/clima.jpeg' %}" alt="" />
<!--        <label for="carousel4" class="carousel__next"></label>-->
      </aside>

<!--      <aside class="carousel__item">-->
<!--        <label for="carousel3" class="carousel__prev"></label>-->
<!--        <a href="#"><h3>Publicações</h3></a>-->
<!--        <img class="carousel__image" src="{% static 'images/logo_lcgea.jpg' %}" alt="" />-->
<!--      </aside>-->

    </main>
  </section>

