{% load static %}

<section id="banner">

    <div class="content" style="text-align: justify">
        <header>
            <h3>Bem vindo ao <strong>Observatório</strong><br>
                <strong> do Clima do DF!</strong></h3>
                <br>
<!--            <p>Universidade de Brasília</p>-->
        </header>
        <p>{{ post.texto|safe }}</p>
        <br>
        <ul class="actions">
            <li><a href="#pluviograma" class="button primary small">Mais Informações</a></li>
        </ul>
    </div>
    <span class="image object">
        {% include 'dashboard/section_carousel_banner.html' %}
    </span>

</section>