{% load static %}
<section id="teams">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<header class="major">
		  <h2>Equipe do Observatório</h2>
		</header>

		<p style="text-align: justify"></p>
		<div class="row">

			{% for team in teams %}

				<div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
					<div>
						<div class="circle">
							{{ team.foto|safe }}
						</div>
						<ul class="icons">
							<li><a href="{{ team.facebook }}" class="icon brands fa-facebook-f" target="_blank" style="color: #00008B">
								<span class="label">Facebook</span></a></li>
							<li><a href="{{ team.instagram }}" class="icon brands fa-instagram" target="_blank" style="color: #00008B">
								<span class="label">Instagram</span></a></li>
							<li><a href="{{ team.linkedin }}" class="icon brands fa-linkedin" target="_blank" style="color: #00008B">
								<span class="label">Linkedin</span></a></li>
							<li><a href="{{ team.lattes }}" target="_blank">
								<span class="label"><strong style="color: #00008B">Lattes</strong></span></a></li>
						</ul>
						<div class="p-3">
							<blockquote>
								<h6>{{ team.nome|safe }}</h6>
								<span class="position">
									{{ team.cargo|safe }}<br>
								</span>
							</blockquote>
						</div>
					</div>

				</div>

			{% endfor %}

<!--			<a href="{% url 'index' %}" class="button primary small icon solid fa-arrow-circle-up">Topo</a>-->
		</div>

</section>

<section>
	<footer class="container">
		<p class="float-right">
			<a href="{% url 'index' %}" class="button primary small icon solid fa-arrow-circle-up">Topo</a>
			<p>
				<font size="2">&copy; All rights reserved
					<a href="#" style="color: #00008B"><em>RMCons.</em></a>
				</font>
			</p>
	</footer>
</section>
