{% load static %}

<section>
    <header class="major">
        <h2>Pluviogramas</h2>
    </header>
    <div class="posts">

        <article>
            <h3>{{ pluviograma01.titulo }}</h3>
            <br>
            {{ pluviograma01.imagem|safe }}
            <br><br>
            <p>Digite um texto explicativo aqui...</p>
            <ul class="actions">
                <li><a href="#" class="button primary small">Mais</a></li>
            </ul>
        </article>

        <article>
            <h3>{{ pluviograma02.titulo }}</h3>
            <br>
            {{ pluviograma02.imagem|safe }}
            <br><br>
            <p>Digite um texto explicativo aqui...</p>
            <ul class="actions">
                <li><a href="#" class="button primary small">Mais</a></li>
            </ul>
        </article>

    </div>

</section>
