{% extends 'dashboard/sidebar_base.html' %}
{% block conteudo %}
{% load static %}

<ul>
    <li><a href="{% url 'index' %}">Home</a></li>

    <li><a href="#teams">Nosso Time</a></li>

    <li>
        <span class="opener">Observatório</span>
        <ul>
            <li><a href="{% url 'temperatura' %}">Temperatura</a></li>
            <li><a href="{% url 'precipitacao' %}">Precipitação</a></li>
            <li><a href="{% url 'queimada' %}">Queimada</a></li>
            <li><a href="{% url 'alagamento' %}">Alagamento</a></li>
            <li><a href="{% url 'reservatorio' %}">Reservatórios</a></li>
        </ul>
    </li>

    <li><a href="#">Projetos</a></li>
    <li><a href="{% url 'publicacoes' %}">Publicações</a></li>
    <li><a href="{% url 'noticias' %}">Notícas</a></li>

    <li>
        <span class="opener">Links úteis</span>
        <ul>
            <li><a href="#">Unb Geográfia</a></li>
            <li><a href="https://portal.inmet.gov.br/" target="_blank">Inmet</a></li>
            <li><a href="https://brasilemsintese.ibge.gov.br/" target="_blank">IBGE</a></li>
        </ul>
    </li>

</ul>

{% endblock %}
