{% load static %}

<div id="sidebar">
    <div class="inner">

        <!-- Search -->
            <section id="search" class="alt">
                <form method="post" action="#">
                    {% csrf_token %}
                    <input type="text" name="query" id="query" placeholder="Search" />
                </form>
            </section>
        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2><strong>Menu</strong></h2>
                </header>

                <!-- Conteudo -->
                    {% block conteudo %}
                    {% endblock %}

            </nav>

        <!-- Informação -->
            <section>
                <header class="major"></header>
                <div class="mini-posts">
                    <article>
<!--                        <h2>Brasília/DF</h2>-->
<!--                        <br><br>-->
                        <div id="cont_bd82ce7c78010c8231ff3219713a8f19">
                            <script type="text/javascript" async
                                    src="https://www.tempo.com/wid_loader/bd82ce7c78010c8231ff3219713a8f19">
                            </script>
                        </div>
                        <br><br>
                    </article>
                </div>
                <ul class="actions">
                    <li>
                        <a href="https://www.tempo.com/brasilia.htm" class="button primary small" target="_blank">Saiba mais</a>
                    </li>
                </ul>
            </section>

        <!-- Rodapé -->
            <section>
                <header class="major">
                    <h2>Propostas de parceria?</h2>
                </header>
                <p></p>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">rrfranca@unb.br</a></li>
                    <li class="icon solid fa-phone">+55 61 9 8124-3311</li>
                    <li class="icon solid fa-home">Campus Universitário Darcy Ribeiro, Módulo 23 do Subsolo do ICC
                        Norte, Brasília - CEP 70904-970<br />
                    </li>
                </ul>
            </section>

        <!-- Direitos -->
            <footer id="footer">
                <p class="copyright">&copy; All rights reserved
                    <a href="#"><em>RMCons.</em></a>
                </p>
            </footer>

    </div>
</div>
