{% extends 'dashboard/sidebar_base.html' %}
{% block conteudo %}
{% load static %}

<ul>
    <li><a href="{% url 'index' %}">Home</a></li>

    <li><a href="">Sobre o LABORATÓRIO</a></li>
    <li>
        <span class="opener">Observatório</span>
        <ul>
            <li><a href="{% url 'temperatura' %}">Temperatura</a></li>
            <li><a href="{% url 'precipitacao' %}">Precipitação Pluvial</a></li>
            <li><a href="{% url 'queimada' %}">Focos de Fogo</a></li>
            <li><a href="{% url 'alagamento' %}">Alagamento</a></li>
            <li><a href="{% url 'reservatorio' %}">Reservatórios</a></li>
            <li><a href="#">Glossário</a></li>
        </ul>
    </li>
    <li><a href="#teams">Equipe do Observatório</a></li>

    <li><a href="#">Projetos</a></li>
    <li><a href="{% url 'publicacoes' %}">Publicações</a></li>
    <li><a href="{% url 'noticias' %}">Notícas</a></li>
    <li><a href="#">Links úteis</a></li>

<!--    <li>-->
<!--        <span class="opener">Links úteis</span>-->
<!--        <ul>-->
<!--            <li><a href="#">Unb Geográfia</a></li>-->
<!--            <li><a href="https://portal.inmet.gov.br/" target="_blank">Inmet</a></li>-->
<!--            <li><a href="https://brasilemsintese.ibge.gov.br/" target="_blank">IBGE</a></li>-->
<!--        </ul>-->
<!--    </li>-->

</ul>

{% endblock %}
